.plan-filter {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-size: 15px;
  background-color: #002147;
  .toggle-nav {
    display: flex;
    align-items: center;
    flex: 1;
    &-slide {
      font-size: 30px;
      margin-left: 20px;
      color: white;
      cursor: pointer;
      &:hover {
        color: green;
      }
    }
  }
  .btn-appoint {
    padding: 10px;
    background-color: #ff3600;
    color: white;
    text-decoration: none;
    border: none;
  }
  .plan-filter-option {
    flex: 4;
  }
  &-option {
    display: flex;
    justify-content: center;
    flex: 2;
    margin-left: 20px;
    &-item {
      margin-left: 20px;
      &:not(:nth-child(2)) {
        width: 150px;
      }
    }
  }
}

@media (max-width: 768px) {

}

@media (max-width: 480px) {
  
}